<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Aplicacion_de_administracion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Aplicacion_de_administracion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Aplicacion_de_administracion.Properties.Settings>
            <setting name="AlturaResolucion" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="AnchuraResolucion" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="ModoOscuro" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowStyle" serializeAs="String">
                <value>SingleBorderWindow</value>
            </setting>
            <setting name="PantallaCompleta" serializeAs="String">
                <value>False</value>
            </setting>
        </Aplicacion_de_administracion.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Aplicacion_de_administracion.Properties.Settings>
      <setting name="StorageKey" serializeAs="String">
        <value>iKB1qJ5631bkTFh6FjKERMbf+4MRY0YaEDUMJ1AYKPBjLEzhofD0m9aGC2xCgtIcDODRZGJf92nQGaCQmfrPuw==</value>
      </setting>
    </Aplicacion_de_administracion.Properties.Settings>
  </applicationSettings>
</configuration>